

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');
* {
  box-sizing: border-box;
}
html {
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav {
  background-color: #00FFC5;
  margin-bottom: 30px;
}
.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  margin: 0;
}
.nav-links {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.nav-links a {
  text-decoration: none;
}
.container-flex {
  display: flex;
}
.intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-para {
  text-align: center;
  font-size: 20px;
  line-height: 15px;
}
.showcase-img {
  width: 100%;
}
.showcase-img img {
  width: 100%;
  height: auto;
}

.text-large {
  font-size: 35px;
}

.btn-shop {
  margin-top: 45px;
  text-align: center;
}
.btn-shop button {
  padding: 15px;
  width: 600px;
  border-radius: 30px;
  font-size: 20px;
  width: 75%;
}
.btn-shop a {
  text-decoration: none;
  color: black;
}
.product {
  display: flex;
}
/* .product div {
  margin-left: 15px;
} */
.product img {
  width: 200px;
}
.box {
  border: 1px solid black;
  width: 200px;
  text-align: center;
  padding: 20px 0;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 30px 20px;
}
.mh-20 {
  margin: 0 20px;
}
.thick-border {
  border: 3px solid;
}
.medium-border {
  border: 2px solid black;
}
.img-responsive {
  width: 100px;
}
.mt-20 {
  margin-top: 20px;
}
.product {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 20px 20px;
}
.product-img {
  margin-right: 20px;
}
.product-description {
  width: 70%;
}
.price {
  font-weight: 600;
}
/* .product-btn {
  text-align: center;
} */
.product-btn button {
  padding: 10px 0;
  width: 120px;
  font-weight: 600;
}